[Desktop Entry]
Name=Calculator
Comment=My project description
Exec=qmlscene $@ calculator.qml
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Gettext-Domain=com.lomiri.developer.bzoltan.calculator
Icon=calculator.png

