[Desktop Entry]
Name=Lomiri UI Toolkit Gallery
Exec=qmlscene %U lomiri-ui-toolkit-gallery.qml
Terminal=false
Type=Application
X-Lomiri-Touch=true
# Added Icon and Path as a workaround for http://pad.lv/1227359.
# TODO remove them once that bug is fixed. --elopio - 2013-09-18
Icon=lomiri-ui-toolkit-gallery.png

