[Desktop Entry]
Name=customtheme
Exec=qmlscene $@ main.qml
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Gettext-Domain=com.lomiri.developer.zsombi.customtheme
Icon=customtheme.png
