[Desktop Entry]
Name=Jokes
Exec=qmlscene $@ jokes.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Gettext-Domain=com.lomiri.developer.bzoltan.jokes
Icon=jokes.png


