[Desktop Entry]
Name=unit-converter
Comment=My project description
Exec=qmlscene $@ unit-converter.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Gettext-Domain=com.lomiri.developer.bzoltan.unit-converter
