[Rules]
liblomirigestures.TouchRegistry.debug=false
lomiri.components.SwipeArea.debug=false
lomiri.components.SwipeArea.ActiveTouchInfo.debug=false
lomiri.components.BottomEdge.debug=false
lomiri.components.PageTreeNode.debug=false
lomiri.components.Action.debug=false
lomiri.components.ActionContext.debug=false
lomiri.components.ActionProxy.debug=false
