[Desktop Entry]
Name=Locale
Comment=My project description
Exec=qmlscene $@ locale.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Gettext-Domain=com.lomiri.developer.bzoltan.locale
